<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Paul Leonard’s Video Platform</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/video">Video</a>
        <a href="/account">Account</a>
    </nav>
    <h1>Welcome <%= username %></h1>
</body>
</html>
